<div class="candidate-wrapper">
  <% @candidates.each do |candidate| %>
  <div class="candidate-col">
    <div class="candidate-card">
      <% if candidate.picture.attachment.nil? %>
        <%= image_tag "empty_photo.jpg", style: "background-image:linear-gradient(220deg, rgba(0, 0, 0, 0) 65%, rgba(0, 0, 0, 0.8) 90%)", class:"candidate-card-img"%>
      <% else %>
        <%= image_tag candidate.picture, style: "background-image:linear-gradient(220deg, rgba(0, 0, 0, 0) 65%, rgba(0, 0, 0, 0.8) 90%)", class:"candidate-card-img" %>
      <% end %>
        <div class="candidate-name">
          <h3 class="candidate-name-light"><%= candidate.user.first_name %></h3>
          <h3><%= candidate.user.last_name %></h3>
        </div>
        <div class="candidate-macaron status"><%= candidate.status.code %></div>
        <span></span>
        <div class="candidate-card-content">
          <span>
            <span class="circo"><%= candidate.district.num_district %>ie circonscription</span><br>
            <span><%= candidate.district.department.name_code %></span>
          </span>
        </div>
    <%= link_to "", candidate_path(candidate, :query => params[:query], :department => params[:department], :status => params[:status]), class:"candidate-card-link"%>
    </div>
  </div>
  <% end %>
</div>

 