<h1><%= @candidate.user.first_name %> <%= @candidate.user.last_name %></h1>
<div class="f-new">
  <ul class="new-form">
    <%= simple_form_for @candidate do |f| %>
      <%= f.simple_fields_for @candidate.user do |user| %>
        <%= user.input :first_name %>
        <%= user.input :last_name %>
      <% end %>
      <%= f.input :district %>
      <%= f.input :profession %>
      <% if !@candidate.deputy.nil? %>
        <%= f.simple_fields_for @candidate.deputy do |dep| %>
        <div>Suppléant:</div>
          <%= dep.input :first_name %>
          <%= dep.input :last_name %>
          <%= dep.input :profession %>
          <%= dep.input :email %>
          <%= dep.input :address %>
        <% end %>
      <% else %>
        <%= f.simple_fields_for Deputy.new do |dep| %>
        <div>Suppléant:</div>
          <%= dep.input :first_name %>
          <%= dep.input :last_name %>
          <%= dep.input :profession %>
          <%= dep.input :email %>
          <%= dep.input :address %>
        <% end %>
      <% end %>
      <%= f.file_field :documents, multiple: true %>
      <%= f.submit 'Valider' %>
    <% end %>
  </ul>
</div>