<br>
<br>
<div class="col-sm-offset-4 col-sm-4">
  <div class='form-dept'><strong>Département:</strong></div> 
  <div class='form-dept input-dept form-control'><%= current_user.department.name_code %></div> 
  <div class="form-inputs">
    <%= simple_form_for @candidate do |f| %>
      <%= f.input :district_id,
          :label => 'Circonscription',
          collection: @districts.collect {|d| [d.num_district, d.id]}.sort %>
      <%= f.input :profession %>
      <div>Photo: </div> 
      <%= f.file_field :picture %>
      <br>
    <% if @candidate.deputy.nil? %>
        <div>Suppléant:</div>
      <%= f.simple_fields_for Deputy.new do |dep| %>
          <%= dep.input :first_name, :label => 'Prénom' %>
          <%= dep.input :last_name, :label => 'Nom' %>
          <%= dep.input :profession %>
          <%= dep.input :email %>
          <%= dep.input :address, :label => 'Adresse' %>
        <% end %>
      <% else %>
        <%= f.simple_fields_for @candidate.deputy do |dep| %>
        <div>Suppléant:</div>
          <%= dep.input :first_name, :label => 'Prénom'  %>
          <%= dep.input :last_name, :label => 'Nom'  %>
          <%= dep.input :profession %>
          <%= dep.input :email %>
          <%= dep.input :address, :label => 'Adresse' %>
        <% end %>
      <% end %>
      <%= f.submit 'Valider' %>
    <% end %>
  </div>
</div>
