<div class= "candidates-panel">
  <div class="form-control-inline">
  <%= form_tag candidates_path, method: :get, remote: true, class:"form-tag" do %>
    <%= text_field_tag :query, params[:query], placeholder: "Prénom, nom, profession, mandat ...", class:'placeholder', id:"pg-search" %>
    <% unless ["CAN", "SD"].include? current_user.role.code  %>
      <%= text_field_tag :department, params[:department], placeholder: "Département", id: 'department-tag', class:'placeholder'%>
    <% end %>
    <%= select_tag :status, options_for_select(Status.all.collect{ |s| [s.description, s.id]}, params[:status]), :prompt => 'Statut', :onchange => "this.form.submit();", id: 'select-tag', class:'placeholder'%>
    <%= submit_tag "" %>
  <% end %>
  </div>
  <div class="search-results">
    <div class="candidate-wrapper">
      <% @candidates.each do |candidate| %>
      <div class="candidate-col">
        <div class="candidate-card">
          <% if candidate.picture.attachment.nil? %>
            <%= image_tag "empty_photo.jpg", style: "background-image:linear-gradient(220deg, rgba(0, 0, 0, 0) 65%, rgba(0, 0, 0, 0.8) 90%)", class:"candidate-card-img"%>
          <% else %>
            <%= image_tag candidate.picture, style: "background-image:linear-gradient(220deg, rgba(0, 0, 0, 0) 65%, rgba(0, 0, 0, 0.8) 90%)", class:"candidate-card-img" %>
          <% end %>
            <div class="candidate-name">
              <h3 class="candidate-name-light"><%= candidate.user.first_name %></h3>
              <h3><%= candidate.user.last_name %></h3>
            </div>
            <div class="candidate-macaron status"><%= candidate.status.code %></div>
            <span></span>
          <div class="candidate-card-content">
            <span>
              <span class="circo"><%= candidate.district.num_district %>' circonscription</span><br>
              <span><%= candidate.district.department.name_code %></span>
            </span>
          </div>
        <%= link_to "", candidate_path(candidate, :query => params[:query], :department => params[:department], :status => params[:status]), class:"candidate-card-link" %>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
<div id="departments" class="hidden" data-departments="<%= Department.all.map {|d| d.name_code} %>"> 
</div>
<%= javascript_pack_tag 'tuning' %>
<%= javascript_pack_tag 'autocomplete' %>


