<!-- <div class="container">
<%# if current_user.role.code != "CAN" && current_user.candidate.nil?%>
  <%#= link_to 'Créer votre candidature', new_candidate_path, class: "btn btn-primary" %>  
<%# elsif current_user.role.code != "CAN" && !current_user.candidate.nil?%>  
  <%#= link_to 'Modifier votre candidature', edit_candidate_path(current_user.candidate), class: "btn btn-primary" %>  
<%# end %> -->

<%= form_tag candidates_path, method: :get do %>
  <%= text_field_tag :department, params[:department]%>
  <%= submit_tag 'Search', name: nil %>
<% end %>

  <%#= simple_form_for Candidate.search(:department), :url => candidates_path, method: :get do |q| %>
    <%#= q.input_field :department, placeholder: "Nom ou code"%>
    <%#= q.submit %>
  <%# end %>

  <div class="search-result">
    <div class="candidate-wrapper">
      <% @candidates.each do |candidate| %>
      <div class="candidate-col">
        <div class="candidate-card">
          <% if candidate.picture.attachment.nil? %>
            <%= image_tag "empty_photo.jpg", style: "background-image:linear-gradient(220deg, rgba(0, 0, 0, 0) 65%, rgba(0, 0, 0, 0.8) 90%)", class:"candidate-card-img"%>
          <% else %>
            <%= image_tag candidate.picture, style: "background-image:linear-gradient(220deg, rgba(0, 0, 0, 0) 65%, rgba(0, 0, 0, 0.8) 90%)", class:"candidate-card-img" %>
          <% end %>
            <div class="candidate-name">
              <h3 class="candidate-name-light"><%= candidate.user.first_name %></h3>
              <h3><%= candidate.user.last_name %></h3>
            </div>
            <div class="candidate-macaron status"><%= candidate.status.code %></div>
            <span></span>
          <div class="candidate-card-content">
            <span>
              <span class="circo"><%= candidate.district %></span><br>
              <span><%= candidate.department.name %>-<%= candidate.department.code %></span>
            </span>
          </div>
        <%= link_to "", candidate_path(candidate), class:"candidate-card-link" %>
        </div>
      </div>
      <% end %>
    </div>
  </div>


</div>
<%= javascript_pack_tag 'tuning' %>
