<div class="container">
<% if current_user.role.code != "CAN" && current_user.candidate.nil?%>
	<%= link_to 'Créer votre candidature', new_candidate_path, class: "btn btn-primary" %>	
<% elsif current_user.role.code != "CAN" && !current_user.candidate.nil?%>	
	<%= link_to 'Modifier votre candidature', edit_candidate_path(current_user.candidate), class: "btn btn-primary" %>	
<% end %>
  <div class="hidden-xs">
  <% @candidates.each do |candidate| %>
    <div class="col-md-4">
      <%= link_to candidate_path(candidate) do %>
      <div class="card">
        <div class='status'><%= candidate.status.description %></div>
        <% if !candidate.picture.attachment.nil? %>
          <%= image_tag candidate.picture, class: "image-card"%>
        <% else %>
          <%= image_tag "empty_photo.jpg" , class: "image-card"%>
        <% end %>
        <div class="text">
          <h4><b><%= candidate.user.first_name %> <%= candidate.user.last_name %></b></h4> 
          <p><%= candidate.profession %></p>
          <div><%= candidate.department.name %>-<%= candidate.department.code %></div>
        </div>
      </div>
      <% end %>
    </div>
  <% end %>
  </div>

<!-- Appearing on mobile only -->
  <div class="row hidden-sm hidden-md hidden-lg">
  <% @candidates.each do |candidate| %>
    <div class="col-12">
      <%= link_to candidate_path(candidate) do %>
      <div class="card-xs">
        <div class='status'><%= candidate.status.description %></div>
        <% if !candidate.picture.attachment.nil? %>
          <%= image_tag candidate.picture, class: "image-card-xs"%>
        <% else %>
          <%= image_tag "empty_photo.jpg" , class: "image-card-xs"%>
        <% end %>
        <div class="text">
          <div><b><%= candidate.user.first_name %> <%= candidate.user.last_name %></b></div> 
          <p><%= candidate.profession %></p>
          <div><%= candidate.department.name %>-<%= candidate.department.code %></div>
        </div>
      </div>
      <% end %>
    </div>
  <% end %>
  </div>

</div>
<%= javascript_pack_tag 'tuning' %>
