<div class="container">
<% if current_user.role.code != "CAN" && current_user.candidate.nil?%>
  <%= link_to 'Créer votre candidature', new_candidate_path, class: "btn btn-primary" %>  
<% elsif current_user.role.code != "CAN" && !current_user.candidate.nil?%>  
  <%= link_to 'Modifier votre candidature', edit_candidate_path(current_user.candidate), class: "btn btn-primary" %>  
<% end %>

  <div class="search-result">
    <div class="candidate-wrapper">
      <% @candidates.each do |candidate| %>
      <div class="candidate-col">
        <div class="candidate-card">
          <% if candidate.picture.attachment.nil? %>
            <%= image_tag "empty_photo.jpg", style: "background-image:linear-gradient(220deg, rgba(0, 0, 0, 0) 65%, rgba(0, 0, 0, 0.8) 90%)", class:"candidate-card-img"%>
            <div class="candidate-name">
              <h3 class="candidate-name-light"><%= candidate.user.first_name %></h3>
              <h3><%= candidate.user.last_name %></h3>
            </div>
            <span></span>
          <% else %>
            <%= image_tag candidate.picture, style: "background-image:linear-gradient(220deg, rgba(0, 0, 0, 0) 65%, rgba(0, 0, 0, 0.8) 90%)", class:"candidate-card-img" %>
            <div class="candidate-name">
              <h3 class="candidate-name-light"><%= candidate.user.first_name %></h3>
              <h3><%= candidate.user.last_name %></h3>
            </div>
            <span></span>
          <% end %>
          <div class="candidate-card-content">
            <span>
              <span class="circo"><%= candidate.district %></span>
              <span><%= candidate.department.name %>-<%= candidate.department.code %></span>
            </span>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>


</div>
<%= javascript_pack_tag 'tuning' %>
