<div class="f-new">
  <ul class="new-form">
    <%= simple_form_for @candidate do |f| %>
      <%= f.input :first_name %>
      <%= f.input :last_name %>
      <%= f.input :email %>
      <%= f.input :district %>
      <%= f.input :profession %>
      <%= f.simple_fields_for @deputy do |dep| %>
      <div>Suppléant:</div>
        <%= dep.input :first_name %>
        <%= dep.input :last_name %>
        <%= dep.input :profession %>
        <%= dep.input :email %>
        <%= dep.input :address %>
      <% end %>
      <%= f.submit 'Valider' %>
    <% end %>
  </ul>
</div>