<div class="container">
  <div class="row">
    <div class="col-12">
      <div class='cand-wrapper'>
        <%= link_to candidates_path(:query => params[:query], :department => params[:department], :status => params[:status]) do %>
        <i class="fas fa-arrow-left"></i>
        <% end %>
        <div class="candidate-status"><%= @candidate.status.description %>
        </div>
        <% if !@candidate.picture.attachment.nil? %>
          <%= image_tag @candidate.picture, class:"candidate-img" %>
        <% else %>
          <%= image_tag "empty_photo.jpg", class:"candidate-img" %>
        <% end %>
        <div class="text-cand" >
          <div><strong>Election <%= @candidate.election.name %> du <%= @candidate.election.election_date %></strong></div>
          <div><strong><%= @candidate.district %></strong></div>
          <div>Prénom: <%= @candidate.user.first_name %> <%= @candidate.user.last_name %></div>
          <div>Profession: <%= @candidate.profession %></div>
          <div>Courriel: <%= @candidate.user.email %></div>
          <div>Mandat: <%= @candidate.mandate %></div>
          <div><strong>Suppléant:</strong></div>
          <% unless @candidate.deputy.nil? %>
            <div>Prénom: <%= @candidate.deputy.first_name %> <%= @candidate.deputy.last_name %></div>
            <div>Nom: <%= @candidate.deputy.profession %></div>
          <% end %>
       </div>
      <div class="files">
        <% if current_user.role.code == 'COM' && @candidate.status.order > 3%>
          <strong>Fichiers Indesign:</strong></br>

          <% if @candidate.documents.attached? %>
            <% @candidate.documents.each do |document| %>
              <%= link_to document.filename, document, target: '_blank' %>
              <% if current_user.role.code == 'COM'%>
                <%= link_to '', remove_attachment_candidate_path(@candidate, attachment: document.id, doc_type: 'documents'), method: :post, class: "fas fa-trash-alt"%> <br>
              <% end %>   
            <% end %>
          <% end %>
          <a class="fas fa-plus-circle add-doc"> Ajouter</a>
          <div class="hidden">
            <%= simple_form_for @candidate, :url => attach_candidate_path, method: :post do |cand| %>
              <%= cand.file_field :documents, multiple: true, id: "input-add-doc" %>
               <%= cand.hidden_field :doc_type, :value => 'documents' %>
              <%= cand.submit id: 'btn-input-add-doc' %>
            <% end %>
          </div>
        <% end %>
        <br>
        <br>
        <% if @candidate.status.order > 3 %>
          <strong>Kit de campagne:</strong></br>
          <% @candidate.kits.each do |kit| %>
            <%#= image_tag kit.preview(resize_to_limit: [100, 100]) if kit.previewable?%>
            <%#= image_tag kit.variant(resize_to_limit: [100, 100]) if ['image/jpeg', 'image/png'].include? kit.content_type%>
            <%= link_to kit.filename, kit, target: '_blank'%> 
            <% if current_user.role.code == 'COM'%>
              <%= link_to '', remove_attachment_candidate_path(@candidate, attachment: kit.id, doc_type: 'kits'), method: :post, class: "fas fa-trash-alt"%></br>
            <% end %>  
          <% end %>
          <a class="fas fa-plus-circle add-kit"> Ajouter</a>
          <div class="hidden">
            <%= simple_form_for @candidate, :url => attach_candidate_path, method: :post do |cand| %>
              <%= cand.file_field :kits, multiple: true, id: "input-add-kit" %>
              <%= cand.hidden_field :doc_type, :value => 'kits' %>
              <%= cand.submit id: 'btn-input-add-kit'  %>
            <% end %>
          </div>
        <% end %>
      </div>
       <div class="button">
        <% if @candidate.status.code == 'OPEN' %>
          <%= link_to "#{@candidate.status.next_action}", validate_candidate_path(@candidate), class: "btn btn-success but" %>
          <%= link_to 'Modifier', edit_candidate_path(@candidate), class: "btn btn-primary but" %>
        <% elsif @candidate.status.code == 'PENDING_SD' && (current_user.role.code == 'DNF' || current_user.role.code == 'SD' || current_user.role.code == 'COM')%>  
          <%= link_to "#{@candidate.status.next_action}", validate_candidate_path(@candidate), class: "btn btn-success but" %>
          <%= link_to "Refuser", reject_candidate_path(@candidate), class: "btn btn-warning but" %>
          <%= link_to 'Modifier', edit_candidate_path(@candidate), class: "btn btn-primary but" %>
        <% elsif @candidate.status.code == 'PENDING_DNF' && (current_user.role.code == 'DNF' || current_user.role.code == 'COM') %>
          <%= link_to "#{@candidate.status.next_action}", validate_candidate_path(@candidate), class: "btn btn-success but" %>
          <%= link_to "Refuser", reject_candidate_path(@candidate), class: "btn btn-warning but" %>
          <%= link_to 'Modifier', edit_candidate_path(@candidate), class: "btn btn-primary but" %>
        <% elsif @candidate.status.code == 'PENDING_COM' && current_user.role.code == 'COM' %>
          <%= link_to "#{@candidate.status.next_action}", validate_candidate_path(@candidate), class: "btn btn-success but" %>
          <%= link_to "Renvoyer", reject_candidate_path(@candidate), class: "btn btn-warning but" %>
          <%= link_to 'Modifier', edit_candidate_path(@candidate), class: "btn btn-primary but" %>
        <% elsif @candidate.status.code == 'PENDING_CANDIDATE' && current_user == @candidate.user %> 
          <%= link_to "#{@candidate.status.next_action}", validate_candidate_path(@candidate), class: "btn btn-success but" %>
          <%= link_to "Renvoyer", reject_candidate_path(@candidate), class: "btn btn-warning but" %>
        <% end %>
      </div>   
      <% if @candidate.audits.any? %>
        <div class="audit">
          <strong>Audit:</strong>
          <% @candidate.audits.sort.reverse.each do |audit| %>
            <div class="audit-text"><%= audit.validation_date.strftime("Validé le %d/%m/%Y à %I:%M%p")%> par <%= audit.user.first_name%> <%= audit.user.last_name%> (<%= audit.user.role.code %>)<br>
                  Status: <%= audit.status.code %> <br>
            </div>
          <% end  %>
        </div>
        <% end %>
      </div>  
    </div>
  </div>
</div>
<%= javascript_pack_tag 'tuning' %>
<%= javascript_pack_tag 'tuning_show' %>